<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hopelastrestart1">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.WATCH" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MVVMApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.home.profile.UpdateProfileActivity"
            android:label="@string/toolbar_title_update_profile" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <!--
        <activity
            android:name=".view.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        -->
        <activity android:name=".ui.Inventory.inventoryManager.InventoryHomeActivity" />
        <activity
            android:name=".ui.home.project.AddStoreActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.siteEngineer.SeReportForms.ViewTaskActivity" />
        <activity android:name=".ui.siteEngineer.SeReportForms.ReportManpowerActivity" />
        <activity android:name=".ui.siteEngineer.SeReportForms.ReportMachineryActivity" />
        <activity android:name=".ui.siteEngineer.SeReportForms.ReportMaterialActivity" />
        <activity android:name=".ui.siteEngineer.SiteHomeActivity" />
        <activity
            android:name=".ui.home.project.AddUserActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.planEngineer.Task.AssignDailyTask.AssignTaskManpower" />
        <activity android:name=".ui.planEngineer.Task.AssignDailyTask.AssignTaskMachinery" />
        <activity android:name=".ui.planEngineer.Task.AssignDailyTask.AssignTaskMaterial" />
        <activity
            android:name=".ui.planEngineer.Task.AssignDailyTask.AssignTaskActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.planEngineer.Task.TaskhkActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.planEngineer.Task.TaskhscActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.planEngineer.Task.TaskmhActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.planEngineer.Task.TaskpipeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.planEngineer.Task.TaskccActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.planEngineer.Task.ActivitiesActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.planEngineer.Task.ViewAssignedTaskActivity" />
        <activity android:name=".ui.planEngineer.Task.SearchTaskActivity" />
        <activity
            android:name=".ui.planEngineer.Task.AddTaskActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.home.plen.AddPlenActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.home.plen.PlenActivity" />
        <activity android:name=".ui.planEngineer.Task.TaskActivity" />

        <activity
            android:name=".ui.siteEngineer.SiteEngActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.siteEngineer.SiteEngTaskccActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.siteEngineer.SiteEngTaskhkActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.siteEngineer.SiteEngTaskhscActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.siteEngineer.SiteEngTaskmhActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.siteEngineer.SiteEngTaskpipeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.siteEngineer.SiteEngTaskRoadRestorationActivity"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.planEngineer.Task.TaskRoadRestorationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.home.project.MyProjectsActivity" />
        <activity android:name=".ui.home.organization.MyOrganizationsActivity" />
        <activity
            android:name=".ui.home.project.AddProjectActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.BaseActivity" />
        <activity
            android:name=".ui.home.project.ProjectActivity"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.organization.AddOrganizationActivity"
            android:label="@string/toolbar_title_create_org"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.home.organization.OrganizationActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.home.UpdateUserRoleActivity" />
        <activity
            android:name=".ui.auth.SignupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>